/* Reset default styles */
/* Importaciones - fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* condiciones o estilos iniciales de mi página */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* root -> hace referencia a mi archivo raíz (<!DOCTYPE html>)*/
:root {
  /* paleta de colores & Fuentes*/
  --colorFondo: #2a2a2a;
  --SegundoColorFondo: #202020;
  --colorText: #fff;
  --colorSecundario: #ccc;
  --colorPrincipal: #76ABAE;
  --FuenteGrande: 5rem;
  --Fuente-h2: 3rem;
  --Fuente-p: 1.1rem;
}

 /* --> Estilos  de mi body */
body{
  background: var(--colorFondo);
  color: var(--colorText); 
}
/* ---> Header estilo y estructura*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}
/* ---> Color y forma Logo*/
.logo{
  color:var(--colorText);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
span{
  color: var(--colorPrincipal);
}
.listaNave{
  display: flex;
}
.listaNave a{
  color: var(--colorSecundario);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}

.listaNave a:hover{
  color: var(--colorPrincipal);
}
#menu-icon{
  font-size: 35px;
  color: var(--colorText);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}
section{
  padding: 160px 15% 120px;
}
.inicio{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(/assets/fondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  }
.texto-inicio{
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  border-radius: 15px;

}