/* Reset default styles */
/* Importaciones - fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* condiciones o estilos iniciales de mi página */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* root -> hace referencia a mi archivo raíz (<!DOCTYPE html>)*/
:root {
  /* paleta de colores & Fuentes*/
  --colorFondo: #2a2a2a;
  --SegundoColorFondo: #202020;
  --colorText: #fff;
  --colorSecundario: #ccc;
  --colorPrincipal: #76ABAE;
  --FuenteGrande: 5rem;
  --Fuente-h2: 3rem;
  --Fuente-p: 1.1rem;
}

/* --> Estilos  de mi body */
body {
  background: var(--colorFondo);
  color: var(--colorText);
}

/* ---> Header estilo y estructura*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}

/* ---> Color y forma Logo*/
.logo {
  color: var(--colorText);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  color: var(--colorPrincipal);
}

.listaNave {
  display: flex;
}

.listaNave a {
  color: var(--colorSecundario);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}

.listaNave a:hover {
  color: var(--colorPrincipal);
}

#menu-icon {
  font-size: 35px;
  color: var(--colorText);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}
/*Estilo del BANNER inicial*/
section {
  padding: 160px 15% 120px;
}

.inicio {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(/assets/fondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.texto-inicio {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;

}

.slide {
  margin-bottom: 20px;
}

.uno {
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background: var(--colorPrincipal);
  color: var(--colorText);
}

.dos {
  display: inline-block;
  color: var(--colorSecundario);
  font-size: 20px;
  font-weight: 500;
}

.texto-inicio h1 {
  font-size: var(--FuenteGrande);
  font-weight: 700;
  color: var(--colorText);
  line-height: 1.1;
  margin: 0 0 8px;
}

.texto-inicio h3 {
  color: var(--colorText);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}
.texto-inicio p{
  color: var(--colorText);
  font-size: var(--Fuente-p);
  line-height: 1.8;
  margin-bottom: 40px;
}


.boton {
  display:flex;
  align-items:flex-end;
  justify-content:right;
}

.btn {
  display:inline-block;
  padding: 12px;
  background: var(--colorPrincipal);
  border-radius: 10px;
  color: var(--colorText);
  font-size: 1rem ;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all .45s ease;
}
.btn:hover{
  transform: scale(0.9);
}
/*Estilo perfil*/
.perfil{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
}
.perfil-img{
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.texto-perfil h2{
  font-size: var(--Fuente-h2);
  line-height: 1;
}
.texto-perfil h4{
font-size: 34px;
font-weight: 600;
color: var(--colorText);
line-height: 1.7;
margin: 15px 0 30px;
}
.texto-perfil p{
  color: var(--colorText);
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.8;
  margin-bottom: 4rem;
}
/*Estilo de Servicios*/
.servicios{
  background: var(--SegundoColorFondo);
}
.texto-principal{
  text-align: center;
}
.texto-principal p{
  color: var(--colorSecundario);
  font-size: 15px;
  margin-bottom: 15px;
}
.texto-principal h2{
  font-size: var(--Fuente-h2);
  line-height: 1;
}
.servicios-contenido{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.caja{
background: var(--colorFondo);
padding: 35px 45px;
border-radius: 8px;
transition: all .45s ease;
}
.s-iconos i{
  font-size: 50px;
  margin-bottom: 20px;
}

.caja h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--colorText);
  margin-bottom: 15px;
}
.caja p{
  color:var(--colorSecundario);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;

}
.caja:hover{
  transform: translateY(-15px);
  cursor: pointer;
}
/*Diseño contenido portafolio*/

.portafolio-contenido{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, auto));
align-items:center;
gap: 2.5rem;
margin-top: 5rem;
}
.fila{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.fila img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.capa{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1),#00a6ff);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.capa h5{
font: 20px;
font-weight: 600;
margin-bottom: 15px;
}
.capa p{
  color: var(--colorText);
  font-size: 1rem;
  line-height: 1.8;
}
.capa i{
  color: var(--colorPrincipal);
  margin-top: 20px;
  font-size: 20px;
  background: var(--colorText);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.fila:hover img{
  transform: scale(1.1);
}
.fila:hover .capa{
  height: 100%;
}
.contacto{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem ;
}
.contacto-texto h4{
color: var(--colorText);
margin: 18px 0;
font-size: 20px;
font-weight: 600;
}
.contacto-texto h2{
  font-size: var(--Fuente-h2);
  line-height: 1;
}
.contacto-texto p{
  color: var(--colorSecundario);
  font-size: var(--Fuente-p);
  line-height: 1.8;
  margin-bottom: 30px;
}
.lista{
  margin-bottom: 2.8rem;
}
.lista li{
  margin-bottom: 12px;
}
.lista li a{
  display: block;
  color: var(--colorSecundario);
  font-size: 14px;
  transition: all .45s ease;
}
.lista li a:hover{
  color: var(--colorText);
  transform: translateY(5px);
}
.contacto-iconos i{
height: 45px;
width: 45px;
color: var(--colorText);
font-size: 50px;
display: inline-block;
align-items: center;
justify-content: center;
margin-right: 30px;
transition: all .45s ease;
}
.contacto-iconos i:hover{
  color: var(--colorPrincipal);
}
.contacto-form form{
  position: relative;

}
.contacto-form form input, form textarea{
  width: 100%;
  padding: 14px;
  background: var(--SegundoColorFondo);
  color: var(--colorText);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contacto-form textarea{
  resize: none;
  height: 240px;
}
.contacto-form .enviar{
  display: inline-block;
  font-size: 16px;
  background: var(--colorPrincipal);
  color: var(--colorText);
  width: 160px;
  transition: all .45s ease;
}
.contacto-form .Enviar:hover{
  transform: scale(1.1);
  cursor: pointer;
}
/* estilo footer*/
.final{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--colorFondo);
}
.ultimo-texto p{
  color: var(--colorText);
}
.arriba i{
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--colorText);
  background: var(--colorPrincipal);
}

@media(max-width: 1480px){
  header {
    padding: 12px 2.5%;
    transition: .1s;
  }

  section{
    padding: 110px 3% 60px;
  }

  .final{
    padding: 15px 3%;
  }
}
@media (max-width: 480px) {
  #menu-icon{
    display: block;
  }
  .listaNave{
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--colorFondo);
    text-align: left;
    transition: all .45s ease;
  }
  .listaNave a{
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    color: var(--colorText);
  }
  .listaNave a:hover{
    color: var(--colorPrincipal);
  }
  .listaNave a.activo{
    color: var(--colorText);
  }
  .listaNave.open{
    top: 100%;
  }
  
  .perfil{
    grid-template-columns: 1fr;
  }
  .perfil p{
    font-size: 20px;
  }
  .perfil-img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contacto{
    grid-template-columns: 1fr;
  }
}